$body: 'TeX Gyre Bonum', Garamond, 'Times New Roman', serif;
$titles: 'Nodesto Caps Condensed', Copperplate, 'Copperplate Gothic Light', serif;
$headings: 'Spectral SC', Garamond, 'Times New Roman', serif;
$info-body: 'Alegreya Sans', 'Lucida Sans', sans-serif;
$info-headings: 'Alegreya Sans SC', 'Lucida Sans', sans-serif;
$ui: $info-headings;
