@use 'variables/colors';

@mixin book-title {
  position: relative;
  z-index: 0;
  color: colors.$white;
  
  &::before {
    content: attr(data-content);
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-text-stroke: 0.1em colors.$black;
    white-space: nowrap;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.18em;
    z-index: -2;
    width: 100%;
    height: 1em;
    background-color: colors.$red;
    -webkit-mask-image: url('../assets/images/brush-stroke.svg');
    mask-image: url('../assets/images/brush-stroke.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }
}
