<template>
  <div class="home">
    <h1 class="title" data-content="RPG Tools">RPG Tools</h1>
    <h2>by @brlodi</h2>
    <p>
      A collection of useful browser tools for running and playing tabletop RPG
      games (TTRPGs), in particular 5th Edition Dungeons &amp; Dragons.
    </p>
  </div>
</template>

<style lang="scss" scoped>
@use 'text-effects';

.title {
  font-size: 4.5rem;
  @include text-effects.book-title;
}

.home {
  text-align: center;
}

p {
  max-width: 25rem;
  margin: auto;
}
</style>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Home',
});
</script>
