@font-face {
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  font-style: normal;
  src: local('AlegreyaSansSC-Medium'),
       local('Alegreya Sans SC Medium'),
       url('../fonts/alegreyasanssc-medium.woff2'),
       url('../fonts/alegreyasanssc-medium.woff');
}

@font-face {
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  font-style: italic;
  src: local('AlegreyaSansSC-MediumItalic'),
       local('Alegreya Sans SC Medium Italic'),
       url('../fonts/alegreyasanssc-mediumitalic.woff2'),
       url('../fonts/alegreyasanssc-mediumitalic.woff');
}
