@font-face {
  font-family: 'Alegreya Sans';
  font-weight: normal;
  font-style: normal;
  src: local('Alegreya Sans Light'),
       local('AlegreyaSans-Light'),
       url('../fonts/alegreyasans-light.woff2'),
       url('../fonts/alegreyasans-light.woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: normal;
  font-style: italic;
  src: local('Alegreya Sans Light Italic'),
       local('AlegreyaSans-LightItalic'),
       url('../fonts/alegreyasans-lightitalic.woff2'),
       url('../fonts/alegreyasans-lightitalic.woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: bold;
  font-style: normal;
  src: local('Alegreya Sans Medium'),
       local('AlegreyaSans-Medium'),
       url('../fonts/alegreyasans-medium.woff2'),
       url('../fonts/alegreyasans-medium.woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-weight: bold;
  font-style: italic;
  src: local('Alegreya Sans Medium Italic'),
       local('AlegreyaSans-MediumItalic'),
       url('../fonts/alegreyasans-mediumitalic.woff2'),
       url('../fonts/alegreyasans-mediumitalic.woff');
}
