@font-face {
  font-family: 'Nodesto Caps Condensed';
  font-weight: normal;
  font-style: normal;
  src: local('Nodesto Caps Condensed'),
       local('NodestoCapsCondensed'),
       url('../fonts/nodestocapscondensed.woff2'),
       url('../fonts/nodestocapscondensed.woff');
}

@font-face {
  font-family: 'Nodesto Caps Condensed';
  font-weight: normal;
  font-style: italic;
  src: local('Nodesto Caps Condensed Italic'),
       local('NodestoCapsCondensed-Italic'),
       url('../fonts/nodestocapscondensed_italic.woff2'),
       url('../fonts/nodestocapscondensed_italic.woff');
}
