@font-face {
  font-family: 'Spectral SC';
  font-weight: normal;
  font-style: normal;
  src: local('Spectral SC Regular'),
       local('SpectralSC-Regular'),
       url('../fonts/spectralsc-regular.woff2'),
       url('../fonts/spectralsc-regular.woff');
}

@font-face {
  font-family: 'Spectral SC';
  font-weight: normal;
  font-style: italic;
  src: local('Spectral SC Italic'),
       local('SpectralSC-Italic'),
       url('../fonts/spectralsc-italic.woff2'),
       url('../fonts/spectralsc-italic.woff');
}
