@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: normal;
  font-style: normal;
  src: local('TeX Gyre Bonum'),
       local('TeXGyreBonum-Regular'),
       url('../fonts/texgyrebonum-regular.woff2'),
       url('../fonts/texgyrebonum-regular.woff');
}

@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: normal;
  font-style: italic;
  src: local('TeX Gyre Bonum Italic'),
       local('TeXGyreBonum-Italic'),
       url('../fonts/texgyrebonum-italic.woff2'),
       url('../fonts/texgyrebonum-italic.woff');
}

@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: bold;
  font-style: normal;
  src: local('TeX Gyre Bonum Bold'),
       local('TeXGyreBonum-Bold'),
       url('../fonts/texgyrebonum-bold.woff2'),
       url('../fonts/texgyrebonum-bold.woff');
}

@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: bold;
  font-style: italic;
  src: local('TeX Gyre Bonum Bold Italic'),
       local('TeXGyreBonum-BoldItalic'),
       url('../fonts/texgyrebonum-bolditalic.woff2'),
       url('../fonts/texgyrebonum-bolditalic.woff');
}
