<template>
  <form v-on:submit.prevent="submit">
    <input v-model.trim="turn.title" />
    <input type="number" v-model.number="turn.initiative" min="0" max="100" />
    <input type="number" v-model.number="turn.modifier" min="-10" max="66" />
    <input type="checkbox" v-model="turn.advantage" />
    <input type="checkbox" v-model="turn.plus1d10" />
    <input type="submit" v-bind:disabled="!submitEnabled" value="+" />
  </form>
</template>

<script lang="ts">
import { computed, defineComponent, reactive } from 'vue';
import { Turn } from '@/models/Turn';

type TurnInput = Omit<Turn, 'id'>;

const formDefault: TurnInput = {
  title: '',
  initiative: 0,
  modifier: undefined,
  advantage: undefined,
  plus1d10: undefined,
};

export default defineComponent({
  emits: ['submit'],

  setup(_, { emit }) {
    const turn: TurnInput = reactive({ ...formDefault });
    const submitEnabled = computed(() => turn.title.length > 0);

    const submit = () => {
      emit('submit', turn);
      Object.assign(turn, formDefault);
    };

    return {
      turn,
      submitEnabled,
      submit,
    };
  },
});
</script>
