<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/initiative">Initiative Tracker</router-link>
  </div>
  <router-view />
</template>

<style lang="scss">
#app {
  margin: auto;
}
</style>
