@use 'sass:color';
@use 'variables/colors';
@use 'variables/fonts';
@use 'reset';
@use 'fonts' as font-face-defs;

:root {
  background-color: colors.$bg-light;
  background-image: url('../images/light-paper-fibers.png');
  color: colors.$body-light;
  font-family: fonts.$body;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$bg-dark;
    background-image: url('../images/stardust.png');
    color: colors.$body-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4 {
  font-family: fonts.$headings;
  font-weight: normal;
}

h1.title {
  font-family: fonts.$titles;
  font-size: 2rem;
}

table {
  font-family: fonts.$info-body;
  caption { font-family: fonts.$info-headings; }
}

button,
input {
  margin: 0.1rem;
  border-radius: 0;
  font-size: 1.3rem;
}

button {
  border: none;
  background-color: colors.$button-bg;
  color: colors.$button-text;
  font-family: fonts.$ui;
}
